<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
    <ion-back-button defaultHref="/" text="Regresar" color="primary" slot="start"></ion-back-button>
  </ion-toolbar>

</ion-header> -->
<ion-content>
  <div class="containerPrincipal">
  <form class="boxLogin" [formGroup]="formRecover1">
    <ion-text class="textCenter">
      <h2>KeyPago</h2>
      <h3>La seguridad primero</h3>
      <p>Antes de continuar debes cambiar tu contraseña. Recuerda que debe ser un número de 4 dígitos no consecutivos</p>
    </ion-text>
          <ion-item class="itemform">
            <ion-label position="floating">Nueva contraseña</ion-label>
            <ion-input type="password"  formControlName="password1" ></ion-input>
          </ion-item>
          <ion-item class="itemform">
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input type="password"  formControlName="password2" ></ion-input>
          </ion-item>
    <div class="botonera">
      <!-- <ion-spinner name="lines-small" *ngIf="spinner"></ion-spinner> -->
      <ion-button  (click)="recovery()" >Continuar</ion-button>
      <!-- <ion-button  (click)="cancel()" >Cancelar</ion-button> -->
    </div>
  </form>
</div>
</ion-content>