
<ion-menu side="start" menuId="first" contentId="principal">
  
  <ion-header class="ion-no-border">
    <div class="div">
      <div>
       <!--  <ion-text>Hora: 15:03</ion-text>
        <ion-text>Fecha: 22/03/2002</ion-text>
        <ion-text>Ip: 190.0.0.0</ion-text> -->
        <h2>KeyPago</h2>
        <ion-icon name="key-outline"></ion-icon>
      </div>
     
    </div>
    <ion-toolbar color="primary">
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{cliente.customerName +' ' + cliente.customerLastame | titlecase}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
    
       <ion-item *ngFor="let c of menus">
        <ion-icon  name="baseball-outline" slot="start"></ion-icon>
        Menu Item
      </ion-item>
      
    
     
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <app-nav-bar ></app-nav-bar>
</ion-header>
<ion-content id="principal"  >
 
  <ion-tabs >
 
    <ion-tab-bar slot="bottom" class="menu" >
      <ion-tab-button *ngFor="let m of menus" [tab]="m.name"[disabled]="productos"  >
        <ion-icon [name]="m.icon"></ion-icon>
        <ion-label class="label">{{m.label}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>





