.movimiento{
    margin:20px auto;
    display: flex;
    width: 95%;
    height: auto;
    border: 1px solid var(--colorPrimary);
    border-radius: 10px;
    padding: 1%;
}
.movimiento div{
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    //justify-content: center;
    overflow: hidden;
}
.movimiento div> ion-text{
    text-align: center;
}
.movimiento div:nth-child(1){
    border-right: 1px solid gray;
}
.movimiento div:nth-child(2){
    border-right: 1px solid gray;
}