.tittle{
    text-align: center;
    color: var(--ion-color-secondary);
}
.credit{
    text-align: center;
    color: var(--ion-color-tertiary);
}
h2{
    font-family: noto-bold;
    text-align: center;
    color: var(--ion-color-primary);
    
}
.containerPrincipal{
    width: 100%;
    height: 100%;
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 20px 5px;
    position: relative;
    
}
.select{
    width: 80%;
   display: flex;
   justify-content: space-around;
}
.select1{
    width: 100%;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
}
ion-select{
    width: 100%;
}
.select ion-item{
    width: 100%;
}
.select1 ion-item{
    width: 100%;
}
.saldo{
    width: 80%;
    margin: 20px auto;
   
}
.extractosFecha{
    display: flex;
    flex-direction: column;
    width: 45%;
}
// ion-list ion-item{
//     box-shadow: 0px 0px 10px var(--ion-color-primary);
// }
 ion-card{
    box-shadow: 0px 0px 10px var(--ion-color-primary);
 }
.content{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    position: relative;
}
.content ion-card{
    width: 70%;
    height: 80%;
    // background: transparent;
}
.content1{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    position: relative;
}
.content1 ion-card{
    width: 70%;
    // background: transparent;
}
.botonera{
    width: 100%;
    display: flex;
    justify-content: center;
}
.botonera ion-button{
    width: 80%;
    font-family: noto-bold !important;
}
.itemform {
    border-radius: 10px !important;
   
 
    font-size: 0.9em;
    border: 1px solid #f1f1f1;
    background: rgb(219, 219, 219);
  
    margin-bottom: 10px;
    width: 80%;
   
}

.botonera{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.fondo{
    height: 50%;
    width: 100%;
    background-color: var(--ion-color-quaternary);
    position: fixed;
    top:0;
    border-radius: 0px 0px 100px 100px;
    z-index: -1;
}
.fondo1{
    height: 30%;
    width: 100%;
    background-color: var(--ion-color-tertiary);
    position: relative;
    // bottom:0;
    border-radius: 20px 20px 0px 0px;
    // z-index: -1;
    box-shadow: 0px 0px 20px var(--ion-color-primary);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fondo1 ion-button{
    width: 60%;
}


.bold{
    font-family: noto-bold;
}

ion-accordion{
    background:transparent !important;
}
ion-list{
    background:transparent !important;
}
ion-header{
    background: var(--ion-color-primary);
}
.swiper-pagination-bullets{
    bottom: 0px !important;
}
.lottie{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: transparent;
    z-index: 1;
}
.bold1{
    font-family: noto-bold;
 
}
.texCenter{
    text-align: center;
}
// ion-accordion {
//     margin: 0 auto;
//   }
  
//   ion-accordion.accordion-expanding,
//   ion-accordion.accordion-expanded {
//     width: calc(100% - 32px);
  
//     margin: 16px auto;
//   }
  
//   ion-accordion.accordion-collapsing ion-item[slot="header"],
//   ion-accordion.accordion-collapsed ion-item[slot="header"] {
//     --background: var(--ion-color-light);
//     --color: var(--ion-color-light-contrast);
//   }
  
//   ion-accordion.accordion-expanding ion-item[slot="header"],
//   ion-accordion.accordion-expanded ion-item[slot="header"] {
//     --background: var(--ion-color-primary);
//     --color: var(--ion-color-primary-contrast);
//   }
ion-label{
    font-family: noto-bold;
    font-weight: bold;
    font-size: 20px !important;
}
ion-icon{
    font-family: noto-bold;
}
.btnColor{
    --background: var(--ion-color-secondary);
    --color:var(--ion-color-primary)
}
::ng-deep .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 0px !important;
}