<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-title class="bold">PQR</ion-title>
    <ion-back-button class="bold" defaultHref="/" text="Volver" color="secondary" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="containerPrincipal">
  <div class="fondo"></div>
  <div class="fondo1"></div>
  <h2>Déjanos tu Solicitud</h2>

  <ion-list class="select1 ion-padding"   >
    <ion-item class="itemform">
      <ion-select mode="ios" interface="action-sheet"   placeholder="Tipo de Solicitud">
        <ion-select-option *ngFor="let c of peticion" value="c.valor">{{c.visual}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item  class="itemform">
      <ion-label position="stacked" >Tu solicitud (max 500 caracteres)</ion-label>
            <ion-textarea rows="6" cols="20" ></ion-textarea>
    </ion-item>

    <ion-item  class="itemform">
      <div class="inputFile">
        <ion-icon name="cloud-upload"></ion-icon>
        <ion-label>{{nameFile}}</ion-label>
        <input type="file" accept=".csv" (change)="onFileChanged($event)" #fileInput>
    </div>
    </ion-item>
    
  </ion-list>
  <div class="botonera">
    <ion-button >
      Enviar
    </ion-button>
  </div>
 </div>


</ion-content>
