<div class="containerPrincipal">

  <form class="boxLogin" [formGroup]="formLogin">
    <ion-text>
      <h2>KeyPago</h2>
    </ion-text>



    <!-- <mat-form-field appearance="outline">
        <mat-label></mat-label>
        <input type="text" matInput placeholder="Escribe tu número de cédula">
        </mat-form-field> -->
       
          <ion-item class="itemform">
            <ion-label position="floating">Número de cédula</ion-label>
            <ion-input formControlName="cedula" ></ion-input>
          </ion-item>
          <ion-item class="itemform">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
       
    


    <div class="botonera">
      <ion-spinner name="lines-small" *ngIf="spinner"></ion-spinner>
      <ion-button *ngIf="!spinner" (click)="login()">Iniciar sesión</ion-button>
      <ion-button *ngIf="!spinner" (click)="recuperarContrasena()">olvidé mi contraseña</ion-button>
    </div>
  </form>
 
  
  
  
</div>