.containerPrincipal{
    width: 100%;
    min-height: 100vh;
   /*  background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 50px;
    margin: 20px 0;
}
.boxLogin{
    width: 80%;
    height: auto;
/*     background-color: white;
 */    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botonera{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.botonera ion-button{
    width: 80%;
}
.itemform {
    border-radius: 10px !important;
    // padding-left: 30px !important;
    // padding-right: 30px;
 
    font-size: 0.9em;
    border: 1px solid #f1f1f1;
    background: rgb(219, 219, 219);
   
    margin-bottom: 10px;
    width: 80%;
   
}