/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root{
    
    --colorPrimary:gray;
}
*{
    font-family: noto;
}
h2{
    font-family: noto-bold;
}
@font-face {
    font-family: noto-bold;
    src: url(assets/fonts/Montserrat/static/Montserrat-Bold.ttf) format("opentype");
}
@font-face {
    font-family: noto;
    src: url(assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf) format("opentype");
}
.bold{
    font-family: noto-bold;
    
}
.my-custom-class {
    --height: 60%;
    --width: 90%;
    margin: auto;
    --border-radius: 20px;
    border: 1px solid var(--ion-color-primary);
    box-shadow: 10px 10px 10px var( --ion-color-primary);
    
  }
//   .my-custom-class::part(backdrop){
//     background-color: rgb(51, 49, 49) !important;
//     opacity: 1;
//   }
 

